In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print(" Libraries imported successfully")

 Libraries imported successfully

In [2]:
file_name = "ScoreSight_ML_Season_LeagueWinner_Champion (1).csv"
df = pd.read_csv(file_name)

print(" Dataset loaded successfully")

 Dataset loaded successfully

In [3]:
print(" Columns in your dataset:")
display(df.columns)

 Columns in your dataset:

Index(['season', 'team', 'matches_played', 'wins', 'draws', 'losses',
       'points_per_game', 'goals_scored', 'goals_conceded', 'goal_difference',
       'target_total_points', 'target_league_position', 'target_champion',
       'target_top_4', 'target_top_6', 'target_relegated'],
      dtype='object')

In [4]:
df.columns = df.columns.str.strip()  
print(" Dataset Preview:")
display(df.head())

 Dataset Preview:

,season,team,matches_played,wins,draws,losses,points_per_game,goals_scored,goals_conceded,goal_difference,target_total_points,target_league_position,target_champion,target_top_4,target_top_6,target_relegated
0,2015-16,Bournemouth,38,11,9,18,1.105263,45.0,67.0,-22.0,42,15,0,0,0,0
1,2015-16,Norwich,38,9,7,22,0.894737,39.0,67.0,-28.0,34,19,0,0,0,1
2,2015-16,Man United,38,19,9,10,1.736842,49.0,35.0,14.0,66,4,0,1,1,0
3,2015-16,Chelsea,38,12,14,12,1.315789,59.0,53.0,6.0,50,10,0,0,0,0
4,2015-16,Everton,38,11,14,13,1.236842,59.0,55.0,4.0,47,11,0,0,0,0

In [5]:
print("\n Dataset Info:")
display(df.info())

print("\n Missing values in each column:")
display(df.isnull().sum())

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season                  180 non-null    object
 1   team                    180 non-null    object
 2   matches_played          180 non-null    int64
 3   wins                    180 non-null    int64
 4   draws                   180 non-null    int64
 5   losses                  180 non-null    int64
 6   points_per_game         180 non-null    float64
 7   goals_scored            180 non-null    float64
 8   goals_conceded          180 non-null    float64
 9   goal_difference         180 non-null    float64
 10  target_total_points     180 non-null    int64
 11  target_league_position  180 non-null    int64
 12  target_champion         180 non-null    int64
 13  target_top_4            180 non-null    int64
 14  target_top_6            180 non-null    int64
 15  target_relegated        180 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 22.6+ KB

None

 Missing values in each column:

season                    0
team                      0
matches_played            0
wins                      0
draws                     0
losses                    0
points_per_game           0
goals_scored              0
goals_conceded            0
goal_difference           0
target_total_points       0
target_league_position    0
target_champion           0
target_top_4              0
target_top_6              0
target_relegated          0
dtype: int64

In [6]:
duplicates = df.duplicated().sum()
print(f"\nDuplicate rows found: {duplicates}")
df = df.drop_duplicates()
print(" Duplicate rows removed")

Duplicate rows found: 0
 Duplicate rows removed

In [7]:
print("\n Summary Statistics:")
display(df.describe())

 Summary Statistics:

,matches_played,wins,draws,losses,points_per_game,goals_scored,goals_conceded,goal_difference,target_total_points,target_league_position,target_champion,target_top_4,target_top_6,target_relegated
count,180.0,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,38.0,14.544444,8.911111,14.544444,1.382749,53.833333,53.833333,0.000000,52.544444,10.372222,0.050000,0.205556,0.305556,0.150000
std,0.0,6.297399,2.874058,6.018892,0.478125,17.635509,13.931396,28.486006,18.168769,5.774177,0.218553,0.405234,0.461927,0.358067
min,38.0,2.000000,2.000000,1.000000,0.315789,20.000000,22.000000,-69.000000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,38.0,10.000000,7.000000,10.750000,1.052632,40.000000,44.750000,-19.250000,40.000000,5.000000,0.000000,0.000000,0.000000,0.000000
50%,38.0,13.000000,9.000000,15.000000,1.315789,51.000000,54.000000,-2.500000,50.000000,10.000000,0.000000,0.000000,0.000000,0.000000
75%,38.0,19.000000,11.000000,18.000000,1.736842,65.250000,63.000000,15.250000,66.000000,15.000000,0.000000,0.000000,1.000000,0.000000
max,38.0,32.000000,15.000000,30.000000,2.631579,106.000000,104.000000,79.000000,100.000000,20.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
player_col = "Player"  # replace if your CSV has different name
goals_col = "Goals"    # replace if different
assists_col = "Assists"  # replace if different

# Check if 'Team' exists
team_col = None
if "Team" in df.columns:
    team_col = "Team"
elif "Club" in df.columns:
    team_col = "Club"

required = [player_col, goals_col, assists_col]
missing = [c for c in required if c not in df.columns]
if missing:
    print(f" Missing required columns: {missing}")
else:
    print(" All required columns are present")
if team_col:
    print(f" Team/Club column detected: {team_col}")
else:
    print("ℹ No Team/Club column found, will skip team-related analysis")

 Missing required columns: ['Player', 'Goals', 'Assists']
ℹ No Team/Club column found, will skip team-related analysis

In [9]:
if goals_col in df.columns:
    columns_to_show = [player_col, goals_col]
    if team_col in df.columns:
        columns_to_show.insert(1, team_col)

    top_goals = df.sort_values(by=goals_col, ascending=False)[columns_to_show].head(10)
    print("\n Top 10 Goal Scorers:")
    print(top_goals)
else:
    print("'Goals' column not found in dataset")

'Goals' column not found in dataset

In [10]:
if assists_col in df.columns:
    columns_to_show = [player_col, assists_col]
    if team_col in df.columns:
        columns_to_show.insert(1, team_col)

    top_assists = df.sort_values(by=assists_col, ascending=False)[columns_to_show].head(10)
    print("\n Top 10 Assist Providers:")
    print(top_assists)
else:
    print(" 'Assists' column not found in dataset")

 'Assists' column not found in dataset

In [ ]:
import os
import pandas as pd
folder = r"C:\Users\HP\Documents\ScoreSight_Project"
os.makedirs(folder, exist_ok=True)

clean_file = os.path.join(folder, "League_Winner_cleaned.csv")

df.to_csv(clean_file, index=False)
print(f"\n Saved cleaned file at: {clean_file}")

✅ Saved cleaned file at: C:\Users\HP\Documents\ScoreSight_Project\League_Winner_cleaned.csv